<div id="footer">
  <div id="footerContent">
    <h3>
      Footer header
    </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    </p>
  </div>
  <br class="clear" />
  </div>
</div>
<div id="copyright">
  &copy; Simple chat | Tarasov Fedor</a>
</div>
