<div id="logo">
  <h1>
    <a href="#" onclick="initLayout()">Not Simple Chat</a>
  </h1>
</div>
<%= render({partial: 'navigate', locals: {user: user}}) %>
<div id="social_box">
  <%= render({partial: 'avatar', locals: {user: user}}) %>
  <a href="http://www.facebook.com/nodenorth" target="_blank"><img src="assets/facebook.png" alt="facebook" /></a>
  <a href="http://vk.com/nodenorth" target="_blank"><img src="assets/vk_com.png" alt="vk" /></a>
  <a href="http://twitter.com" target="_blank"><img src="assets/twitter.png" alt="twitter" /></a>
  <a href="https://github.com/Fabel/north" target="_blank"><img src="assets/github.png" alt="github" /> </a>
</div>
