<div id="header">
  <div id="logo">
    <h1>
      <a href="#">Simple chat</a>
    </h1>
  </div>
  <div id="nav">
    <ul>
      <li class="first active">
        <a href="#">Sign in</a>
      </li>
      <li class="last">
        <a href="#">Sign up</a>
      </li>
    </ul>
    <br class="clear" />
  </div>
  <div id="social_box">
    <a href="http://facebook.com" target="_blank"><img src="assets/facebook.png" alt="facebook" /></a>
    <a href="http://vk.com" target="_blank"><img src="assets/vk_com.png" alt="vk" /></a>
    <a href="http://twitter.com" target="_blank"><img src="assets/twitter.png" alt="twitter" /></a>
    <a href="https://github.com/Fabel/north" target="_blank"><img src="assets/github.png" alt="github" /> </a>
  </div>
</div>
