<body>
  <div id="bg_shadow">
    <div id="outer" class="bg">
      <div id="header">
        <%= render({partial: 'header', locals:{ user: null, channel: null }}) %>
      </div>
      <div id="main">
        <div id="content">
          <div class="post">
            <h2>
              Welcome to Not Simple chat
            </h2>
            <p>
              Enjoy
            </p>
          </div>
          <br class="clear" />
        </div>
        <br class="clear" />
      </div>
      <%= render({partial: "footer"}) %>
  </div>
  <div id="channel_list">
</body>
