<div id="chat" data-channel="<%= channel.name %>">
  <div id="message_list">
    <% messages.forEach(function(message){ %>
      <%= render({partial: 'message', locals: {message: message.message, user: message.user}}) %>
    <% }) %>
  </div>
  <div id="message_input">
    <textarea class="message"></textarea>
    <button class="button" id="send_photo">Send Photo</button>
    <button class="button" id="send_message">Send</button>
  </div>
</div>
