<ul id="errors"></ul>
<h2>Channel create:</h2>
<div id="channel_form">
  <label for="channel_name">Channel name: </label>
  <input type="text" id="channel_name" class="input_text"/>
  <input type="submit" id="submit_channel" class="button" />
</div>
