<h2>Avatar loader:</h2>
<div id="file_loader">
  <ul id="errors"></ul>
  <div class="row">
    <input type="file" id="file_field">
  </div>
  <div id="preview"></div>
  <div class="row">
    <input type="submit" class = "button" id="submit_photo">
  </div>
</div>
