<div id="registration_form">
  <h2>Sign up:</h2>
  <ul id="errors"></ul>
  <div class="row">
    <label for="login">Login: </label>
    <input type="text" id="login" class="input_text" /></div>
  <div class="row">
    <label for="login">Password: </label>
    <input type="password" id="password" class="input_text" />
  </div>
  <div class="row">
    <label for="login">Password confirmation: </label>
    <input type="password" id="password_confirmation" class="input_text" />
  </div>
  <div class="row"><input type="submit" id="submit_registration" class="button" /></div>
</div>
